*{
    outline:1px solid rgba(255,0,0,1);
}
.hs_container {
    position: relative;
    width: 381px;
    height: 442px;
    overflow: hidden;
    clear: both;
    cursor: pointer;
    top: 120px;
    left: 530px;
    z-index: 100;
}
.hs_container img {
    transform: translate3d(0px, 0px, 0px);
}
.hs_container img:hover {
    transform: translate3d(0px, -150px, 0px);
}   
.hs_container .hs_area {
    position: absolute;
    overflow: hidden;
}
.hs_area1 {
    width: 237px;
    height: 180px;
    top: 0px;
    left: 0px;
}
.hs_area1 {
    border-right: none;
}
* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
element.style {
    top: 0px;
    opacity: 1;
    display: none;
    z-index: 1;
}
.hs_area img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.hs_area2 {
    width: 130px;
    height: 180px;
    top: 0px;
    left: 255px;
}
.hs_area2 {
    border-top: none;
}
.hs_area3 {
    width: 381px;
    height: 180px;
    top: 190px;
}
.hs_area3 {
    border-right: none;
}
.hs_area4 {
    width: 381px;
    height: 112px;
    top: 330px;
}
.hs_area4 {
    border-top: none;
}
