include ../accesorios/header.jade
  .container
    .contenedor
      .row
        .col-md-6
          img(src="../image/face.jpg")
        .col-md-6.cuadro
          .row
            .col-md-6
              img(src="../image/banner3.png")
            .col-md-6
              img(src="../image/banner2.png")
          .row
            img(src="../image/banner.png")
          .row
            img(src="../image/banner.png")
      .row    
  script(src='http://code.jquery.com/jquery-1.11.2.min.js')
  script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
  script(type='text/javascript', src='../js/bootstrap.min.js')
  script(type='text/javascript', src='../js/main.js')