html(lang='en')
  head
  title MIS TRABAJOS
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='http://fonts.googleapis.com/css?family=Pacifico:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='../css/bootstrap.min.css')
  link(rel='stylesheet', href='../css/trabajos.css')
  body
    .container
      .row
        .col-md-4
          .encuadre
            .cuadro
        .col-md-4
          .encuadre
            .cuadro
        .col-md-4
          .encuadre
            .cuadro
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/main.js')